@import "./color";
@import "./mixin";
.primary_btn {
    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
    border-radius: 10px;
    padding: 16px;
    border: none;
    width: 320px;
    float: right;
    margin-top: 52px;
    letter-spacing: 1px;
    cursor: pointer;

    @include heading("Helvetica", normal, 700, 20px, 23px, center, $white);

    &:hover {
        background: linear-gradient(270deg, #8456ec 3.25%, #e87bf8 100%);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
    }
}
.create-btn {
    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
    border-radius: 10px;
    padding: 16px;
    border: none;
    width: 320px;
    letter-spacing: 1px;
    cursor: pointer;

    @include heading("Helvetica", normal, 700, 20px, 23px, center, $white);

    &:hover {
        background: linear-gradient(270deg, #8456ec 3.25%, #e87bf8 100%);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
    }
}
